{% extends '::layout.html.twig' %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">{{ 'views.app.app.index.title1'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h2 class="text-center title">{{ 'views.app.app.index.title2'|trans }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h3>{{ 'views.app.app.index.title3'|trans }}</h3>
            <ul class="no-bullet inline-list">
            {% for entity in entities %}
                <li><a href="{{ path('zz_app_usersmoke_show', {'slug': entity.userlink} ) }}">{{ entity.user.username }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}