{% extends '::layout.html.twig' %}

{% block page %}
    <div class="row full-width">
        <div class="small-12 large-12 columns">
            <h1 class="text-center header-title">{{ 'views.app.app.index.title1'|trans|raw }}</h1>
            <h2 class="text-center header-title">{{ 'views.app.app.index.title2'|trans }}</h2>
        </div>
    </div>
    <div class="full-width aqua">
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="text-homepage">
                    <h3 class="text-center header-title">{{ 'views.app.app.index.title3'|trans }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="text-homepage">
        <div class="row">
            {% for entity in entities %}
                <div class="small-12 large-12 columns">
                    <div class="row">
                        <div class="small-12 large-4 columns">

                        </div>
                        <div class="small-12 large-4 columns">
                            <h4 class="text-center">{{ entity.user.username }}</h4>
                        </div>
                        <div class="small-12 large-4 columns">
                            <a href="{{ path('zz_app_usersmoke_show', {'slug': entity.userlink} ) }}">{{ entity.datestop|date('D d M Y') }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}