{% extends '::layout.html.twig' %}

{% block html %}
    itemscope itemtype="http://schema.org/Event"
{% endblock %}

{% block title %}
    {{ 'views.app.usersmoke.show.titleshare'|trans }}
{% endblock %}

{% block headshare %}
    <META itemprop="name" content="{{ 'views.app.usersmoke.show.titleshare'|trans }}">
    <META itemprop="description" content="
    {{ 'views.app.usersmoke.show.time'|trans }}
    {{ savingsmoking.savingTotal }} {{ savingsmoking.devise }} {{ 'views.app.usersmoke.show.saving'|trans }}
    {{ 'views.app.usersmoke.show.benefit'|trans }}
    {{ savingsmoking.savingDay }} {{ savingsmoking.devise }} {{ 'views.app.usersmoke.show.savingday'|trans }}
    {{ savingsmoking.numbercigarette }} {{ 'views.app.usersmoke.show.numbercigarette'|trans }}
    {{ savingsmoking.numberpacket }} {{ 'views.app.usersmoke.show.numberpacket'|trans }}
    {{ savingsmoking.goudron }} {{ 'views.app.usersmoke.show.goudron'|trans }}
    {{ savingsmoking.nicotine }} {{ 'views.app.usersmoke.show.nicotine'|trans }}
    {{ savingsmoking.monoxyde }} {{ 'views.app.usersmoke.show.monoxyde'|trans }}
    ">
    <META itemprop="image" content="http://savingsmoking.com/logo.png">
{% endblock %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">{{ 'views.app.usersmoke.show.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns ">
            {% set textintrotrad = 'views.app.usersmoke.show.textintro'~savingsmoking.textintro %}
            <h2 class="text-center">
                {{ textintrotrad|trans }}
            </h2>
        </div>
        <div class="small-12 large-12 columns text-center">
            <ul class="pricing-table " >
                <li class="title"><h3><span id="time"></span> {{ 'views.app.usersmoke.show.time'|trans }} </h3></li>
                <li class="price"><h3><span id="saving">{{ savingsmoking.savingTotal }}</span> {{ savingsmoking.devise }} {{ 'views.app.usersmoke.show.saving'|trans }}</h3></li>
                <li class="description"><h4>{{ 'views.app.usersmoke.show.benefit'|trans }}</h4></li>
                <li class="bullet-item">{{ savingsmoking.savingDay }} {{ savingsmoking.devise }} {{ 'views.app.usersmoke.show.savingday'|trans }} </li>
                <li class="bullet-item">{{ savingsmoking.numbercigarette }} {{ 'views.app.usersmoke.show.numbercigarette'|trans }}</li>
                <li class="bullet-item">{{ savingsmoking.numberpacket }} {{ 'views.app.usersmoke.show.numberpacket'|trans }}</li>
                <li class="bullet-item">{{ savingsmoking.goudron }} {{ 'views.app.usersmoke.show.goudron'|trans }}</li>
                <li class="bullet-item">{{ savingsmoking.nicotine }} {{ 'views.app.usersmoke.show.nicotine'|trans }}</li>
                <li class="bullet-item">{{ savingsmoking.monoxyde }} {{ 'views.app.usersmoke.show.monoxyde'|trans }}</li>
                <li class="cta-button">
                    <div class="row">
                        <div class="small-4 columns">
                            {% include 'ZZBundlesAppBundle:App:Include/google_share.html.twig' with{'linkshared': usersmoke.userlink} %}
                        </div>
                        <div class="small-4 columns">
                            {#% include 'ZZBundlesAppBundle:App:Include/facebook_share.html.twig' %#}
                        </div>
                        <div class="small-4 columns">

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        (function($){

            "use strict";

            Number.prototype.fixeTwoDigit = function(){
                    if(this.valueOf() < 10){
                        return '0'+this.valueOf();
                    }else{
                        return this.valueOf();
                    }
            };

            var daystring = "{{ 'views.app.usersmoke.show.day'|trans }}"
            var savingtotal = {{ savingsmoking.savingTotal }};
            var savingday = {{ savingsmoking.savingDay }};
            var savingsecond = Math.floor((savingday/24)/3600);
            var datestop = new Date("{{ user.usersmoke.dateStop|date('Y-m-d') }}");

            function calculatepourcent(){
                var mydate = new Date();
                var time = ( mydate.getHours() * 3600 ) + ( mydate.getMinutes() * 60 ) + mydate.getSeconds();
                var pourcent = ( time  / (24 * 3600 ) ) * 100;
                return pourcent;
            }

            function calculateCountdown(baseDate) {
                var currentTime = new Date();

                var diff = currentTime.getTime() - baseDate.getTime();

                return format(diff / 1000);

            }

            function format(seconds) {
                var days = 0;
                var hours = 0;
                var minutes = 0;

                if (seconds >= 3600 * 24) {
                    days = parseInt(seconds / (3600 * 24));
                    seconds = seconds % (3600 * 24);
                }
                if (seconds >= 3600) {
                    hours = parseInt(seconds / 3600);
                    seconds = seconds % 3600;
                }
                if (seconds >= 60) {
                    minutes = parseInt(seconds / 60);
                    seconds = seconds % 60;
                }
                seconds = parseInt(seconds);

                var fd = days.fixeTwoDigit() + daystring + '  ' + hours.fixeTwoDigit() + 'H ' + minutes.fixeTwoDigit() + 'M ' + seconds.fixeTwoDigit() + 'S';

                return fd;
            }


            $(document).ready(function(){
                var interval = setInterval(function(){
                    var savsav = savingtotal + ( ( savingday * calculatepourcent() ) / 100 );
                    $('#saving').html(savsav.toFixed(2));
                    $('#time').html(calculateCountdown(datestop));
                }, 1000);
            });
        })(jQuery);
    </script>
{% endblock javascripts %}