{% extends '::layout.html.twig' %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">{{ 'views.HWIOAuthBundle.connect.login.title1'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h2 class="text-center">{{ 'views.HWIOAuthBundle.connect.login.title2'|trans }}</h2>
        </div>
    </div>
    {% if error %}
        <span>{{ error }}</span>
    {% endif %}
    <ul class="text-center no-bullet">
    {% for owner in hwi_oauth_resource_owners() %}
        <li >
            <a href="{{ hwi_oauth_login_url(owner) }}">
                <img title="{{ owner | trans({}, 'HWIOAuthBundle') }}" alt="{{ owner | trans({}, 'HWIOAuthBundle') }}" class="img-connect" src="{{ asset('bundles/zzbundlesapp/images/'~owner~'.png') }}"/>
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h2 class="text-center">{{ 'views.HWIOAuthBundle.connect.login.title3'|trans }}</h2>
        </div>
        <div class="small-6 large-6 columns text-center">
            <a href="{{ path('fos_user_security_login') }}" class="small button">{{ 'views.HWIOAuthBundle.connect.login.login'|trans }}</a>
        </div>
        <div class="small-6 large-6 columns text-center">
            <a href="{{ path('fos_user_registration_register') }}" class="small button">{{ 'views.HWIOAuthBundle.connect.login.register'|trans }}</a>
        </div>
    </div>
    {% endblock page %}
