<div class="row">
    <div class="small-12 large-12 columns">
        <h1 class="text-center header-title-bis">{{ 'views.user.profile.edit.title1'|trans }}</h1>
        <h2 class="text-center header-title">{{ 'views.user.profile.edit.title2'|trans }}</h2>
        <h3 class="text-center header-title">{{ 'views.user.profile.edit.title3'|trans }}</h3>
    </div>
</div>
<div class="full-width aqua">
    <div class="row">
        <div class="small-12 large-12 columns text-center">
            {% trans_default_domain 'FOSUserBundle' %}
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                {{ form_widget(form) }}
                <div class="row">
                    <div class="small-12 columns">
                        <input type="submit" class="large round button" value="{{ 'profile.edit.submit'|trans }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>