{% extends '::layout.html.twig' %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">{{ 'views.HWIOAuthBundle.connect.login.title1'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h2 class="text-center title">{{ 'views.HWIOAuthBundle.connect.login.title2'|trans }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns text-center">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}
                    <input {% if error %}class="error"{% endif %} type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </label>
                {% if error %}
                    <small class="error">{{ error|trans({}, 'FOSUserBundle') }}</small>
                {% endif %}
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}
                    <input type="password" id="password" name="_password" required="required" />
                </label>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                <input type="submit" id="_submit" name="_submit" class="small button" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </form>
        </div>
    </div>
{% endblock page %}
