{% extends '::base.html.twig' %}

{% block menu %}
    <ul class="no-bullet">
        <li>
            <a href="{{ path('hwi_oauth_connect') }}">{{ 'layout.app.app.index.login'|trans }}</a>
        </li>
        <li>
            <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
        </li>
        <li>
            <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
        </li>
        <li>
            <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
        </li>
        <li>
            <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
        </li>
    </ul>
{% endblock %}