{% extends '::base.html.twig' %}

{% block menu %}
    <ul class="no-bullet">
        {% block menuli %}
        <li>
            <a href="{{ path('zz_bundles_app_homepage') }}">
                {{ 'layout.block.menu.accueil'|trans }}
            </a>
        </li>
        {% if is_granted('ROLE_USER') %}
            <li>
                <a href="{{ path('fos_user_profile_show') }}">
                    {{ 'layout.block.menu.account'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.block.menu.logout'|trans }}
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('zz_app_cigarette') }}">
                        {{ 'layout.block.menu.cigarette'|trans }}
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li>
                <a href="{{ path('hwi_oauth_connect') }}">
                    {{ 'layout.block.menu.login'|trans }}
                </a>
            </li>
        {% endif %}
        {% endblock menuli %}
    </ul>
{% endblock menu %}

{% block page %}
    {% block pagefooter %}
        <div class="full-width black white-text">
            <div class="row">
                <div class="small-12 columns text-right">
                    <div class="pagefooter">
                        {{ 'layout.block.pagefooter.credit'|trans }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock pagefooter %}
{% endblock page %}