{% extends '::layout.html.twig' %}

{% block page %}
<div class="row">
    <div class="small-12 large-12 columns">
        <h1 class="text-center header-title-bis">{{ 'views.user.registration.register.title1'|trans }}</h1>
        <h2 class="text-center header-title">{{ 'views.user.registration.register.title2'|trans }}</h2>
    </div>
</div>
<div class="full-width aqua">
    <div class="row">
        <div class="small-12 large-12 columns text-center" >
            <div class="text-homepage">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
                {% if app.session is not empty %}
                    {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                    {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns text-center" >
        <div class="text-homepage">
            <a href="{{ path('zz_app_usersmoke_new') }}" class="large round button">{{ 'views.user.registration.register.createsaving'|trans }}</a>
        </div>
    </div>
</div>
{% endblock page %}
