{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="small-12 large-12 columns container">

        <div class="page" id="page">
            <div class="row">
                <div class="small-12 large-12 columns">
                    <h1 lass="text-center">{{ 'layout.app.app.index.title'|trans }}</h1>
                </div>
            </div>
        </div>

        <div class="menu" id="menu">
            <ul class="no-bullet">
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
            </ul>
        </div>

    </div>
</div>
    {#
        <footer>
            <p>{{ 'layout.app.app.index.footer'|trans }}</p>
        </footer>
    #}


{% endblock %}