{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="small-12 large-12 columns container">

        <div class="icon-menu">
            <img src="{{ asset('bundles/zzbundlesapp/images/menu.png') }}"/>
        </div>

        <div class="page" id="page">
            <div class="row">
                <div class="small-12 large-12 columns">
                    <h1 class="text-center title">{{ 'layout.app.app.index.title'|trans }}</h1>
                </div>
            </div>
        </div>

        <div class="menu" id="menu">
            <ul class="no-bullet">
                <li>
                    <a href="{{ path('hwi_oauth_connect') }}">{{ 'layout.app.app.index.login'|trans }}</a>
                </li>
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
                <li>
                    <a href="#totot">{{ 'layout.app.app.index.menu1'|trans }}</a>
                </li>
            </ul>
        </div>

    </div>
</div>

{% endblock %}